* {
    box-sizing: border-box;
    font-family: Roboto;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Header section */
.header {
    padding: 16px 48px;
    background-color: #1E293B;
    border-bottom: 1px solid #334155;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_wrapper {
    display: flex;
    align-items: center;

    font-size: 40px;
    font-weight: bold;
}

.logo_wrapper > img {
    width: 80px;
}

button {
    background-color: #4F46E5;
    font-size: 18px;
    font-weight: bold;

    padding: 8px 16px;
    border: none;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 8px;
}

button:hover {
    background-color: #6366F1;
    cursor: pointer;
}

button:focus {
    border: 1px solid #FACC15;
}

button > img {
    width: 32px;
}

/* Main content: books container */
.books_container {
    background-color: #0B1220;
    padding: 60px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: start;
    gap: 24px;
}

.card{
    background-color: #1E293B;
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 32px;
    border: 1px solid #334155;
    border-radius: 12px;
}

.card:hover {
    border-color: #4F46E5;
}

.book_cover {
    background-color: #121924;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.book_cover > img {
    height: 300px;
}

.book_title {
    font-size: 28px;
    margin-bottom: 12px;
}

.book_author {
    color: #CBD5E1;
    font-size: 24px;
    margin-bottom: 4px;
}

.book_pages {
    color: #94A3B8;
    color: 18px;
}

.action_buttons {
    display: flex;
    gap: 18px;
}

.read_status {
    background-color: #22C55E;
    color: #0B1220;
    border: 2px solid #16A34A;
}

.read_status::before {
    content: '✔'
}

.read_status:hover {
    background-color: #16A34A;
    color: #FFFFFF;
    border: 2px solid #15803D;
}

.read_status:focus {
    border: none;
    box-shadow: 0 0 0 3px rgba(34, 197, 94, 0.45);
}

.not_read_status {
    background-color: transparent;
    color: #CBD5E1;
    border: 1px solid #334155;
}

.not_read_status:hover {
    background-color: transparent;
    color: #FACC15;
    border: 1px solid #FACC15;
}

.not_read_status:focus{
    border: none;
    box-shadow: 0 0 0 3px rgba(203, 213, 225, 0.45);
}

.remove_button {
    background-color: transparent;
    border: none;
    padding: 8px;
}

.remove_button:hover {
    background-color: rgba(239, 68, 68, 0.15);
}

/* Footer Section */
.footer {
    background-color: #1E293B;
    padding: 12px 0;
    text-align: center;
}

/* Add Book Dialog */
#add_book_dialog {
    background-color: #1e293b;
    color: #f8fafc;
    padding: 60px 48px;
    border: 1px solid #334155;
    border-radius: 12px;
    width: 100%;
    max-width: 700px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
}

#add_book_dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}

#add_book_dialog h2 {
    margin-bottom: 28px;
    font-size: 40px;
    border-bottom: 2px solid #6366f1;
    padding-bottom: 5px;
}

#add_book_form {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#add_book_form > label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #cbd5e1;
    font-size: 20px;
    font-weight: 600;
}

#add_book_form #reading_status_label {
    flex-direction: row;
    gap: 16px;
}

#add_book_form input, #read_status {
    background-color: #0f172a;
    border: 1px solid #334155;
    color: white;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
}

#add_book_form input:focus {
    outline: none;
    border-color: #6366f1;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.3);
}

#add_book_form .action_buttons{
    display: flex;
    justify-content: end;
}

#confirm_btn, #cancel_btn {
    padding: 16px 32px;
}
